header {
  width: 100%;
  height: 48;
  display: flex;
  margin: 0;
  padding: 0;
}

header .logo {
  color: #41444B;
  font-family: 'Righteous', cursive;
  font-size: 3rem;
}

header i {
  color: #41444B;
  font-size: 1rem;

}