.navbar {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 10 0 10;
}

.navbar .logo {
  color: #41444B;
  font-family: 'Righteous', cursive;
  font-size: 4rem;
}

.navbar i {
  color: #41444B;
  font-size: 2rem;
  display: inline;

}

.cart-group {
  font-size: 1rem;
}